$boder-width: 3px;
$mg: 1rem;
$height: 24px;
$width: 12px;
$border-color: #666;

// list check
.check-list {
  li {
    position: relative;
  
    &::before {
      content: '';
      display: inline-block;
      text-align: center;
      transform: rotate(45deg);
      height: $height;
      width: $width;
      margin-right: $mg;
      border-bottom: $boder-width solid $border-color;
      border-right: $boder-width solid $border-color;
    }
  }
}

// single
.check {
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    text-align: center;
    transform: rotate(45deg);
    height: $height;
    width: $width;
    border-bottom: $boder-width solid $border-color;
    border-right: $boder-width solid $border-color;
  }
}
