/*=== valiables css ===*/

$header-height: 3rem;

/* colors */
$white-color: #fff;
// $light-gray-color:#e0e0e0;
$light-gray-color: #f1f1f1;
$point-color: #397BDB;
$dark-gray-color: #2a3b47;
$text-color: #666;

/* typography */

$body-font: 'Noto Sans', sans-serif;

$fs-xxl: 5vw;
$fs-xl: 6.25rem;
$fs-lg: 1.25rem;
$fs-nm: 0.938rem;
$fs-sm: 0.813rem;
$fw-normal: 400;
$fw-bold: 700;

@media screen and (min-width: 768px) {
  $fs-xxl: 10vw;
  $fs-xl: 10.5rem;
  $fs-lg: 2rem;
  $fs-nm: 1rem;
  $fs-sm: 0.875rem;
}

/* margin */
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;

/* round */
$round: 50%;
$border-round: 1rem;


/*=== base ===*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $fs-nm;
  color: $text-color;
  font-weight: $fw-normal;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $text-color;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/*=== class css ===*/
.section {
  padding: 3rem 0;

  &__title {
    position: relative;
    margin: $mb-4 0;
    font-weight: $fw-bold;
    text-align: center;
    font-size: $fs-lg;
    color: $dark-gray-color;

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 0.18rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 2rem;
      background: $point-color;
    }
  }
}

/*=== layout ===*/
.ly-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
}

/*=== header ===*/
.ly-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

/*=== nav ===*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      top: $header-height;
      right: -100%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3);
      transition: .5s;
      backdrop-filter: blur(10px);
    }
  }

  &__item {
    position: relative;
    padding: 1rem;
  }

  &__link {
    position: relative;
  }
  
  &__logo {
    font-weight: bold;
  }

  &__toggle {
    &::before {
      content: '';
    }

    &::after {
      content: '';
    }
  }
}

/*=== activ menu ===*/
.show {
  right: 0;
}

.active::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 2rem;
  background: $white-color;
}

/*=== home ===*/
.home {
  overflow: hidden;
  position: relative;
  background: $light-gray-color;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    width: 100vh;
    height: 100vh;
    border-radius: $round;
    background: #eee;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 60%;
    width: 200px;
    height: 200px;
    border-radius: $round;
    background: $point-color;
  }

  &__container {
    height: calc(100vh - $header-height);
    row-gap: 5rem;
  }

  &__title {
    position: relative;
    align-self: center;
    font-size: $fs-xxl;
    font-weight: 900;
    color: $white-color;
    letter-spacing: 2px;
    line-height: 1.2em;
    transform: rotate(-28deg) skew(25deg);
    
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 30px;
      left: -30px;
      color: rgba(0, 0, 0, 0.3);
      text-shadow: none;
      filter: blur(8px);
      z-index: -1;
    }
  }

  &__scroll {
    align-self: flex-end;

    &-link {
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
    }
  }
}

/*=== about ===*/
.about {
  &__container {
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: $round;
    background: $point-color;
    overflow: hidden;
  }

  &__subtitle {
    font-size: $fs-lg;
    color: $point-color;
    margin-bottom: $mb-1;
    letter-spacing: -0.1rem;

  }

  // &__text {}

}

/*=== skills ===*/
.skills {
  &__contianer {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__subtitle {
    margin: $mb-2 0;
    color: $point-color;
    font-weight: $fw-bold;
  }

  &__name {
    display: inline-flex;
    padding: 0 $mb-2;
    margin: $mb-1 0;
    background: #E1EBF9;
    border-radius: 3rem;
    transition: all 0.3s;

    &:hover {
      background: $point-color;
      color: $white-color;
    }
  }
  
  &__img {
    border-radius: $border-round;
    overflow: hidden;
  }
  
}

/*=== portfolio ===*/

.portfolio {
  &__container {
    justify-items: center;
    row-gap: 2rem;
  }

  &__img {
    position: relative;
    border-radius: $border-round;
    overflow: hidden;

    &:hover .portfolio__link {
      bottom: 0;
    }
  }

  &__link {
    position: absolute;
    bottom: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: $border-round;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s;

    &-name {
      color: $white-color;
    }
  }
}

/*=== resume ===*/
.resume {
  // text-align: center;

  &__link {
    display: block;
    border: 1px solid black;
  }
}

/*=== contact ===*/
.contact {

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252839;
  }

  &__email {
    // font-size: $fs-xl;
    // font-weight: $fw-bold;
    // letter-spacing: -0.5rem;
    // color: #eee;
    position: relative;
    font-size: 10vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;

    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      -webkit-text-stroke: 0vw #383d52;
      border-right: 2px solid white;
      overflow: hidden;
      // animation: animate 6s linear infinite;
      animation:typing 4s steps(22,end) forwards,
      blink 1s infinite;
    }
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid white;
  }
}

// @keyframes animate {
//   0%, 10%, 100% {
//     width: 0;
//   }
  
//   70%, 90% {
//     width: 100%;  
//   }
// }

/*=== footer ===*/
.ly-footer {
  background: #000;
}

/*=== media query ===*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(3rem + 1rem);

    &__list {
      display: flex;
    }

    &__item {
      margin-left: 2rem;
    }

    &__toggle {
      display: none;
    }

  }

  .home {
    &__container {
      height: 100vh;
      row-gap: 0;
    }
  }

  .about {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: initial;
      padding: 4rem 0;
    }
    
    &__img {
      width: 200px;
      height: 200px;
    }
  }

  .skills {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

  }

  .portfolio {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      columns: 2rem;
    }
  }

  .contact {
    &__container {
      text-align: center;
    }
  }
} 
 
@media screen and (min-width: 1024px) {
  .ly-grid {
    margin-left: auto;
    margin-right: auto;
  }
}