@import 'valiables';

/*=== base ===*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $fs-nm;
  color: $text-color;
  font-weight: $fw-normal;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: $text-color;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/*=== skip ===*/
#skip {
  position: fixed; 
  left: 0;
  top: -4rem; 
  width: 100%;
  text-align: center;
  line-height: 4rem;
  background: rgba(0,0,0,0.7); 
  transition: top 0.4s; 
  z-index: 100000;

  &:focus {
    top: 0;
  }
}
