/*=== valiables css ===*/
$header-height: 4rem;

/* colors */
$white-color: #fff;
$light-gray-color: #f1f1f1;
$point-color: #397BDB;
$dark-gray-color: #2a3b47;
$text-color: #666;
$text-sub-color: #999;

/* typography */
$body-font: 'Noto Sans', sans-serif;

$fs-xxl: 13rem;
$fs-xl: 6.25rem;
$fs-lg2: 2rem;
$fs-lg: 1.25rem;
$fs-nm: 0.938rem;
$fs-sm: 0.813rem;

$fw-normal: 400;
$fw-bold: 700;

@media screen and (min-width: 768px) {
  $fs-xl: 20rem;
  $fs-lg2: 3rem;
  $fs-lg: 2rem;
  $fs-nm: 1rem;
  $fs-sm: 0.875rem;
}

/* margin */
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

/* round */
$round: 50%;
$border-round: 1rem;