/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.check-list li {
  position: relative;
}

.check-list li::before {
  content: '';
  display: inline-block;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 24px;
  width: 12px;
  margin-right: 1rem;
  border-bottom: 3px solid #666;
  border-right: 3px solid #666;
}

.check {
  position: relative;
}

.check::before {
  content: '';
  display: inline-block;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 3px solid #666;
  border-right: 3px solid #666;
}

.check-list li {
  position: relative;
}

.check-list li::before {
  content: '';
  display: inline-block;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 24px;
  width: 12px;
  margin-right: 1rem;
  border-bottom: 3px solid #666;
  border-right: 3px solid #666;
}

.check {
  position: relative;
}

.check::before {
  content: '';
  display: inline-block;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 3px solid #666;
  border-right: 3px solid #666;
}

/*=== valiables css ===*/
/* colors */
/* typography */
/* margin */
/* round */
/*=== base ===*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 4rem 0 0 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.938rem;
  color: #666;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #666;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/*=== skip ===*/
#skip {
  position: fixed;
  left: 0;
  top: -4rem;
  width: 100%;
  text-align: center;
  line-height: 4rem;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  z-index: 100000;
}

#skip:focus {
  top: 0;
}

/*=== valiables css ===*/
/* colors */
/* typography */
/* margin */
/* round */
/*=== class css ===*/
.section {
  padding: 4rem 0;
}

.section__title {
  position: relative;
  margin: 3rem 0 5rem;
  font-weight: 700;
  text-align: center;
  font-size: 1.8rem;
  color: #2a3b47;
}

.section__title::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 0.18rem;
  left: 0;
  right: 0;
  bottom: -20%;
  margin: auto;
  top: 2rem;
  background: #397BDB;
}

/*=== layout ===*/
.ly-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=== header ===*/
.ly-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 8px 8px 17px -3px rgba(0, 0, 0, 0.09);
          box-shadow: 8px 8px 17px -3px rgba(0, 0, 0, 0.09);
}

/*=== nav ===*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

.nav__menu {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 4rem;
    right: -100%;
    width: 100%;
    height: 100%;
    font-size: 3.5rem;
    padding: 3rem 2rem;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .nav__menu .nav__link {
    line-height: 1.6;
  }
}

.nav__list {
  height: 100%;
}

.nav__item {
  position: relative;
  cursor: pointer;
}

.nav__item:focus .nav__link, .nav__item:focus-within .nav__link, .nav__item:hover .nav__link {
  color: #397BDB;
}

.nav__item:focus .nav__link::before, .nav__item:focus-within .nav__link::before, .nav__item:hover .nav__link::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__link {
  position: relative;
  display: block;
  height: 100%;
  line-height: 2rem;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 2px solid #397BDB;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav__logo {
  font-weight: bold;
}

.nav__toggle .button {
  position: relative;
  width: 60px;
  height: 60px;
  outline: none;
}

.nav__toggle .button::before, .nav__toggle .button::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 3px;
  background: #000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav__toggle .button::before {
  margin-top: -8px;
}

.nav__toggle .button::after {
  width: 30px;
  margin-left: 3px;
  margin-top: 4px;
}

.nav__toggle.show .button::before {
  margin-top: -2px;
  -webkit-transform: translateX(-50%) rotate(45deg) translateZ(0);
          transform: translateX(-50%) rotate(45deg) translateZ(0);
}

.nav__toggle.show .button::after {
  width: 36px;
  margin-left: 0;
  margin-top: -2px;
  -webkit-transform: translateX(-50%) rotate(-45deg) translateZ(0);
          transform: translateX(-50%) rotate(-45deg) translateZ(0);
}

/*=== activ menu ===*/
.show {
  right: 0;
}

.active {
  color: #397BDB;
}

.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/*=== home ===*/
.home {
  overflow: hidden;
  position: relative;
  background: #f1f1f1;
}

.home__round {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  background: #eee;
}

.home__round::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  border: 1px solid #397BDB;
  opacity: 0.4;
}

.home__round span {
  position: absolute;
  display: block;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: cricle 30s linear infinite;
          animation: cricle 30s linear infinite;
}

.home__round span::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -52px;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background: #397BDB;
}

.home__container {
  min-height: 30vh;
  row-gap: 5rem;
}

.home__title {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 3rem;
  font-size: 12vw;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.2em;
  -webkit-transform: rotate(-28deg) skew(25deg);
          transform: rotate(-28deg) skew(25deg);
  z-index: 10;
}

.home__title::before {
  content: attr(data-text);
  position: absolute;
  top: 30px;
  left: -30px;
  padding-left: 3rem;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  z-index: -1;
}

@-webkit-keyframes cricle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes cricle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*=== about ===*/
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #397BDB;
  overflow: hidden;
}

.about__subtitle {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.about__subtitle strong {
  font-weight: 700;
  color: #397BDB;
  font-size: 2rem;
}

.about__description {
  margin: 2.5rem 0;
}

.about__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about__social .item {
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about__social .item span {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.938rem;
}

.about__social .item:hover, .about__social .item:focus {
  color: #397BDB;
}

/*=== skills ===*/
.skills__contianer {
  row-gap: 2rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.skills__subtitle {
  margin: 1rem 0;
  color: #397BDB;
  font-weight: 700;
}

.skills__name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 1rem;
  margin: 0.5rem 0;
  background: #E1EBF9;
  border-radius: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.skills__name:hover {
  background: #397BDB;
  color: #fff;
}

.skills__img {
  border-radius: 1rem;
  overflow: hidden;
}

.skills__certificate li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

.skills__certificate li + li {
  margin-top: 10px;
}

.skills__certificate span {
  font-weight: 400;
  color: #999;
}

/*=== portfolio ===*/
.portfolio__container {
  justify-items: center;
  row-gap: 2rem;
}

.portfolio__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: 10px 10px 20px #ebebeb, -10px -10px 20px #ffffff;
          box-shadow: 10px 10px 20px #ebebeb, -10px -10px 20px #ffffff;
}

.portfolio__img:hover .portfolio__link {
  bottom: 0;
}

.portfolio__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio__link-name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  color: #fff;
}

.portfolio__link-name span {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio__link-name span:hover {
  background: #fff;
  color: #666;
}

/*=== contact ===*/
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

.contact__text strong {
  font-size: 1.5rem;
  font-weight: 700;
}

.contact__email {
  position: relative;
  display: block;
  margin: 8rem 0;
  font-size: 5vw;
  color: #eee;
  -webkit-text-stroke: 0.3vw #eee;
}

.contact__email::before {
  content: attr(data-text);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-text-stroke: 0vw #eee;
  border-right: 2px solid white;
  -webkit-animation: typing 6s steps(22, end) infinite, blink 6s infinite;
          animation: typing 6s steps(22, end) infinite, blink 6s infinite;
}

.contact__email:hover + .contact__message {
  color: #666;
}

.contact__message {
  color: #eee;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  0%, 100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #888;
  }
}

@keyframes blink {
  0%, 100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #888;
  }
}

/*=== footer ===*/
.ly-footer {
  background: #f1f1f1;
  padding: 2rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__explore li {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem;
}

.footer__explore li + li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2px;
  height: 2px;
  margin-left: -0.5rem;
  background: #999;
}

.footer__explore a {
  color: #999;
}

.footer__explore a:hover {
  color: #666;
}

.footer__logo {
  margin: 1rem;
}

/*=== media query ===*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: 4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__link {
    padding: 1rem;
  }
  .nav__toggle {
    display: none;
  }
  .home__container {
    height: 50vh;
    row-gap: 0;
  }
  .home__title {
    font-size: 12vw;
    padding-left: 7rem;
  }
  .home__title::before {
    padding-left: 7rem;
  }
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
  .about__img {
    width: 200px;
    height: 200px;
  }
  .skills__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-columns: 2rem;
            columns: 2rem;
  }
  .contact__container {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .ly-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    height: calc(100vh - 4rem);
  }
  .home__round {
    width: 50vw;
    height: 50vw;
  }
  .home__round::before {
    width: 50vw;
    height: 50vw;
  }
  .home__title {
    font-size: 8vw;
    padding-left: 8rem;
  }
  .home__title::before {
    padding-left: 8rem;
  }
}
